
.film-article {
    h3 {
        margin-top: 0;
    }

    & .film-info-line {
        color: $film-info-line;
        font-weight: bold;
    }

    & .film-snippet {
        padding-bottom: 15px;
    }
}