
.film-article {
    h3 {
        margin-top: 0;
    }

    & .film-article__info {
        color: $primary-clr;
        font-weight: $fw-700;
    }

    & .film-article__snippet {
        padding-bottom: 15px;
    }
}