footer {
  background-color: $primary-bg;
  color: $clr-neutral-100;
  font-size: 0.9rem;
  font-weight: lighter;
  padding-block: 2rem;

  a {
    text-decoration: underline;
    color: $clr-neutral-100;

    &:hover,
    &:focus,
    &:active {
      color: $clr-neutral-100;
      font-weight: 600;
    }
  }
}

