@use '../color';
@use '../fonts';

footer {
  background-color: color.$primary-bg;
  color: color.$clr-neutral-100;
  font-size: 0.9rem;
  font-weight: fonts.$fw-200;
  padding-block: 2rem;

  a {
    text-decoration: underline;
    color: color.$clr-neutral-100;

    &:hover,
    &:focus,
    &:active {
      color: color.$clr-neutral-100;
      font-weight: fonts.$fw-600;
    }
  }
}
