@import '../_color';

.membership-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 1rem;
  padding: 10px;
  background-color: var(--membership-box-bg);
  color: var(--clr-neutral-100);
  box-shadow: 3px 3px 13px -1px rgba(0, 0, 0, 0.75);
}

.membership-box h3 {
  margin-block-end: 1.4rem;
}

.membership-box-button {
  padding-block-end: 10px;
}
