/* Top bar menu */
.navbar {
  background-color: $primary-bg;
  border-color: $navbar-border-clr;
  border-radius: 0;
}

.navbar-toggler {
  border-color: $clr-neutral-100;
}

.navbar-default .navbar-collapse {
  background-color: $primary-bg;
}

.navbar-header {
  background-color: $primary-bg;
}

.navbar-nav .nav-link {
  color: $clr-neutral-100;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
  background-color: $navbar-active;
  color: $clr-neutral-100;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background-color: $navbar-hover;
  color: $clr-neutral-100;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-block: 0;
  }
  .navbar-nav .nav-link {
    padding-block: 1rem;
  }
}
