@use '../color';

/* Top bar menu */
.main-nav {
  background-color: color.$primary-bg;
  border-color: color.$navbar-border-clr;
  border-radius: 0;
}
.main-nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

  .main-nav__menu-item {
    list-style-type: none;
  }

  .main-nav__menu-link {
    display: inline-block;
    padding-block: 1rem;
    padding-inline: 0.25rem;
    color: color.$clr-neutral-200;
    text-decoration: none;
  }

  .main-nav__menu-link:hover,
  .main-nav__menu-link:focus {
    background-color: color.$navbar-hover;
  }
}
.navbar-nav .nav-link {
  color: color.$clr-neutral-100;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
  background-color: color.$navbar-active;
  color: color.$clr-neutral-100;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background-color: color.$navbar-hover;
  color: color.$clr-neutral-100;
}

/* Hamburger icon, the stroke color is between the %28....%29 */
.navbar-light.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-block: 0;
  }
  .navbar-nav .nav-link {
    padding-block: 1rem;
  }
}
