/* synopsis */
.synopsis-headings {
  border-top: 2px solid $clr-neutral-400;
  border-bottom: 2px solid $clr-neutral-400;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.synopsis-review-heading {
  border-top: 2px solid $clr-neutral-400;
  border-bottom: 2px solid $clr-neutral-400;
  margin-top: 5px;
  padding-top: 3px;
}

.synopsis-screening-date {
  text-align: center;
  font-style: italic;
}

.synopsis-sfs-title {
  text-align: center;
  font-weight: $fw-700;
}

.synopsis-image-full-page {
  margin-bottom: 15px;
}

.main-programme>div>img {
  margin-top: 10px;
}

.review {
  text-align: start;

  h2,
  h3 {
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    margin-top: 0.4rem;
    padding-block: 0.25rem;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  & .review__content {
    columns: unset;
  }

  & .review__author {
    text-align: end;
    font-style: italic;

    &.review__author--review1 {
      margin-block-end: 1rem;
      break-after: always;
    }
  }
}

@media screen and (min-width: 992px) {
  .review {
    & .review__content {
      column-count: 2;
      column-width: auto;
      column-gap: 2rem;
    }
  }
}