@import '../_color';
@import '../_typography';

/* synopsis */
.synopsis-headings {
  border-block-start: 2px solid var(--clr-neutral-400);
  border-block-end: 2px solid var(--clr-neutral-400);
  margin-block-start: 5px;
  padding-block-start: 2px;
  padding-block-end: 2px;
}

.synopsis-review-heading {
  border-block-start: 2px solid var(--clr-neutral-400);
  border-block-end: 2px solid var(--clr-neutral-400);
  margin-block-start: 5px;
  padding-block-start: 3px;
}

.synopsis-screening-date {
  text-align: center;
  font-style: italic;
}

.synopsis-sfs-title {
  text-align: center;
  font-weight: var(--fw-700);
}

.synopsis-image-full-page {
  margin-block-end: 15px;
}

.main-programme > div > img {
  margin-block-start: 10px;
}

.review {
  text-align: start;

  h2,
  h3 {
    border-block-end: 2px solid grey;
    border-block-start: 2px solid grey;
    margin-block-start: 0.4rem;
    padding-block: 0.25rem;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding-block-start: 0.5rem;
    padding-block-end: 1rem;
  }

  & .review__content {
    columns: unset;
  }

  & .review__author {
    text-align: end;
    font-style: italic;

    &.review__author--review1 {
      margin-block-end: 1rem;
      break-after: always;
    }
  }
}

@media screen and (min-width: 992px) {
  .review {
    & .review__content {
      column-count: 2;
      column-width: auto;
      column-gap: 2rem;
    }
  }
}
