/* synopsis */
.synopsis-headings {
    border-top: 2px solid $clr-neutral-400;
    border-bottom: 2px solid $clr-neutral-400;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .synopsis-review-heading {
    border-top: 2px solid $clr-neutral-400;
    border-bottom: 2px solid $clr-neutral-400;
    margin-top: 5px;
    padding-top: 3px;
  }
  
  .synopsis-screening-date {
    text-align: center;
    font-style: italic;
  }
  
  .synopsis-sfs-title {
    text-align: center;
    font-weight: $fw-700;
  }
  
  .synopsis-image-full-page {
    margin-bottom: 15px;
  }
  
  .main-programme>div>img {
    margin-top: 10px;
  }