$base-color: #3b52a0;
$white: #fff;
$black: #000;
$grey: grey;
$red: red;
$base-border: grey;
$poster-box-bg: #ebf9fa;
$poster-box-text: #282727;
$film-info-line: #3b52a0;
$nav-bar-hover: #5779e7;
$nav-bar-active: #263566;
$nav-bar: #263566;
$table-border: #595959;
$new-venue-boxshadow: #888888;
$aboutus-border: #e7e7e7;
$aboutus-background: #f8f8f8;
$button-feedback: red;
$button-tickets: #3b52a0;
$button-tickes-hover: #607ee0;