$ff-primary: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$fw-200: 200;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;