/* all main buttons */
/* ticket buttons */
/* membership homepage cta button */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  background: #ffffff;
  color: #000000;
}

main {
  margin-block: 3rem;
}

a {
  color: #3b52a0;
}

blockquote {
  border-left: none;
  font-size: 1.2em;
}

/* Top bar menu */
.navbar {
  background-color: #3b52a0;
  border-color: #2d3f7b;
  border-radius: 0;
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-default .navbar-collapse {
  background-color: #3b52a0;
}

.navbar-header {
  background-color: #3b52a0;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
  background-color: #263566;
  color: #ffffff;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background-color: #5779e7;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-block: 0;
  }
  .navbar-nav .nav-link {
    padding-block: 1rem;
  }
}
.aboutus-sidemenu {
  margin-top: 30px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 4px;
}

/* #TABLES =============================== */
.table {
  border: 1px solid #000000;
  margin-bottom: 10px;
}
.table > :not(caption) > * > * {
  background-color: #3b52a0;
}
.table thead tr th, .table tbody tr td {
  padding: 7px;
  border: 1px solid #000000;
}
.table thead tr th {
  background-color: #3b52a0;
  color: #ffffff;
}
.table tbody tr td {
  background-color: #ffffff;
  color: #000000;
}
.table tfoot tr td {
  background: none;
  font-weight: 600;
}

.btn-normal {
  background-color: #ffc107;
  color: #000000;
}

.btn-normal:hover,
.btn-normal:focus,
.btn-normal:active {
  background-color: #f8ce52;
  color: #000000;
}

.btn-tickets {
  background-color: #3b52a0;
  border-color: #3b52a0;
  color: #ffffff;
}

.btn-tickets:hover,
.btn-tickets:focus,
.btn-tickets:active {
  background-color: #8899d3;
  color: #ffffff;
}

.btn-membership {
  background-color: #263568;
  color: #ffffff;
  transition: all 0.4s ease;
}

.btn-membership:hover,
.btn-membership:focus,
.btn-membership:active {
  background-color: #adb9e1;
  color: #000000;
}

.membership-box-button a:focus,
.membership-box-button a:hover {
  text-decoration: none;
}

.front-page-buttons a,
.front-page-buttons button {
  margin-top: 5px;
}

/* synopsis */
.synopsis-headings {
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.synopsis-review-heading {
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  margin-top: 5px;
  padding-top: 3px;
}

.synopsis-screening-date {
  text-align: center;
  font-style: italic;
}

.synopsis-sfs-title {
  text-align: center;
  font-weight: 700;
}

.synopsis-image-full-page {
  margin-bottom: 15px;
}

.main-programme > div > img {
  margin-top: 10px;
}

.review {
  text-align: start;
}
.review h2,
.review h3 {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  margin-top: 0.4rem;
  padding-block: 0.25rem;
}
.review img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}
.review .review__content {
  -moz-columns: unset;
       columns: unset;
}
.review .review__author {
  text-align: end;
  font-style: italic;
}
.review .review__author.review__author--review1 {
  margin-block-end: 1rem;
  -moz-column-break-after: always;
       break-after: always;
}

@media screen and (min-width: 992px) {
  .review .review__content {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-width: auto;
         column-width: auto;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.membership-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #6279c5;
  color: #ffffff;
  box-shadow: 3px 3px 13px -1px rgba(0, 0, 0, 0.75);
}

.membership-box h3 {
  margin-bottom: 1.4rem;
}

.membership-box-button {
  padding-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .membership-box {
    margin-top: 55px;
    margin-bottom: 0;
  }
}
.poster-box {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 20px 0 0 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  color: #282727;
  font-weight: 700;
}
.poster-box .poster-box-date {
  padding-top: 3px;
  padding-bottom: 3px;
}
.poster-box .poster-box-link {
  padding-top: 3px;
  padding-bottom: 3px;
}
.poster-box .poster-box img {
  margin: 0 auto;
}

.film-article h3 {
  margin-top: 0;
}
.film-article .film-article__info {
  color: #3b52a0;
  font-weight: 700;
}
.film-article .film-article__date {
  font-weight: 700;
  margin-bottom: 0;
}
.film-article .film-article__snippet {
  padding-bottom: 15px;
}

footer {
  background-color: #3b52a0;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 200;
  padding-block: 2rem;
}
footer a {
  text-decoration: underline;
  color: #ffffff;
}
footer a:hover, footer a:focus, footer a:active {
  color: #ffffff;
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */