@import 'color';
@import 'fonts';

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

body {
  font-family: $ff-primary;
  font-weight: $fw-400;

  background: $clr-neutral-100;
  color: $clr-neutral-900;
}

main {
  margin-block : 3rem;
}

a {
  color: $primary-clr;
}

blockquote {
  border-left: none;
  font-size: 1.2em;
}

.btn-agm-reports {
  background-color: #3b52a0;
}

.btn-agm-reports:hover,
.btn-agm-reports:focus {
  background-color: #5779e7;
}

.main-title {
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: $base-color;
  font-weight: 700
}

@import 'blocks/navbar';
@import 'blocks/sidenav';
@import 'blocks/tables';
@import 'blocks/buttons';
@import 'blocks/synopsis';
@import 'blocks/membership-box';
@import 'blocks/poster-panels';
@import 'blocks/film-article';
@import 'blocks/footer';
