@use 'reset';
@use 'color';
@use 'fonts';

@use 'blocks/buttons';
@use 'blocks/film-article';
@use 'blocks/footer';
@use 'blocks/header';
@use 'blocks/membership-box';
@use 'blocks/navbar';
@use 'blocks/poster-panels';
@use 'blocks/sidenav';
@use 'blocks/synopsis';
@use 'blocks/tables';

body {
  font-family: fonts.$ff-primary;
  font-weight: fonts.$fw-400;
  line-height: 1.6;

  background: color.$clr-neutral-100;
  color: color.$clr-neutral-900;
}

main {
  margin-block: 3rem;
}

a {
  color: color.$primary-clr;
}

blockquote {
  border-left: none;
  font-size: 1.2em;
}

.container {
  max-width: 1280px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.welcome-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;

  > div {
    align-self: start;
  }
}

.btn-agm-reports {
  background-color: #3b52a0;
}

.btn-agm-reports:hover,
.btn-agm-reports:focus {
  background-color: #5779e7;
}

.home-feedback-grid {
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 1rem;
}
