@import '_reset';
@import '_color';
@import '_typography';

@import 'blocks/_grid';
@import 'blocks/_buttons';
@import 'blocks/_film-article';
@import 'blocks/_footer';
@import 'blocks/_header';
@import 'blocks/_membership-box';
@import 'blocks/_navbar';
@import 'blocks/_poster-panels';
@import 'blocks/_sidenav';
@import 'blocks/_synopsis';
@import 'blocks/_tables';

body {
  font-family: var(--font-family);
  font-size: var(--font-size-400);
  font-weight: var(--font-wieght-400);
  line-height: var(--line-height-400);

  background-color: var(--clr-neutral-100);
  color: var(--body-color);
}

main {
  margin-block: 3rem;
}

a {
  color: var(--primary-clr);
}

blockquote {
  border-inline-start: none;
  font-size: 1.2em;
}

.container {
  max-width: 1320px;
  padding-inline: 0.75rem;
  margin-inline: auto;
}
