---
import SiteLayout from '../../layouts/Base.astro';
import synopses from '../../data/synopses.json';
import Synopsis  from '../../components/Synopsis.astro';
const title = "Synopsis for Martin Eden";
---

<SiteLayout title={title}>
    <div class="container">
        <Synopsis Synopsis={synopses.synopses[1]}></Synopsis>
        <!-- {synopses.synopses[0].filmSynopsis} -->
    </div>
</SiteLayout>