---
import SiteLayout from '../../layouts/Base.astro';
import synopses from '../../data/synopses.json'
import Synopsis from '../../components/synopsis.astro';
const title = "Synopsis for Quo Vadis Aida?";
---

<SiteLayout title={title}>
    <div class="container">
        <Synopsis Synopsis={synopses.synopses[9]}></Synopsis>
        <!-- {synopses.synopses[0].filmSynopsis} -->
    </div>
</SiteLayout>