<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h4> Brochure</h4>
                <a href="/documents/SFS_Leaflet.pdf" target="_blank">
                    <img src="/img/sfs_leaflet_cover.jpg" title="SFS Brochure 2019-20 image" alt="SFS Brochure 2019-20 image"
                        width="90" height="195" />
                </a>
                <p>
                    Click image to download brochure.
                </p>
            </div>
            <div class="col-md-2">
                <h4>Menu</h4>
                <div><a href="/">Home</a></div>
                <div><a href="/#sfsfilms">Swindon Film Society Films</a></div>
                <div><a href="/feedback/">Audience Feedback</a></div>
                <div><a href="/membership/">Membership</a></div>
                <div><a href="/contact-us/">Contact Us</a></div>
            </div>
            <div class="col-md-2">
                <h4>About SFS</h4>
                <div><a href="/about-sfs/sfs-awards/">SFS Awards</a></div>
                <div><a href="/about-sfs/sfs-organisation/">SFS Organisation</a></div>
                <div><a href="/about-sfs/sfs-constitution/">SFS Constitution</a></div>
                <div><a href="/about-sfs/sfs-origins/">SFS Origins</a></div>
                <div><a href="/about-sfs/sfs-films/">SFS Film History</a></div>
                <div><a href="/about-sfs/community-cinema/">Community Cinema</a></div>
                <div><a href="/about-sfs/sfs-links/">Useful Links</a></div>
            </div>
        
            <div class="col-md-2">
                <h4>Follow Us On</h4>
                <p>
                    <a href="http://www.facebook.com/pages/Swindon-Film-Society/145966628778312" target="_blank">Facebook</a>
                </p>
                <p>
                    <a href="http://twitter.com/swindonfilm">Twitter</a>
                </p>
            </div>
        
            <div class="col-md-4">
                <h4>AGM</h4>
                <p>
                    For the latest AGM minutes, <a href="/about-sfs/sfs-organisation/#reports">please click here</a>.
                </p>
                <p>
                    For the current financial accounts document, <a href="/about-sfs/sfs-organisation/#reports">please click here</a>.
                </p>
            </div>
        </div>
    </div>

</footer>
<!-- /Footer -->