    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img/swindon-film-society-logo.svg" class="img-fluid my-3" alt="Swindon Film Society logo for the best in world cinema" title="SFS logo" width="150">
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->