    <!-- Header -->
    <header>
        <div class="container">
            <img src="/img/swindon-film-society-logo.svg" class="main-logo" alt="Swindon Film Society logo for the best in world cinema" title="SFS logo" width="150">
        </div>
    </header>
    <!-- /Header -->