    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img/SFS-Web-Logo-Large.jpg" class="img-fluid" alt="Swindon Film Society logo for the best in world cinema" title="SFS logo" >
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->