---
import navLinks from '../data/mainNav.json';
import NavLink from './NavLink.astro';
---
<!-- Nav -->
<nav class="main-nav">
    <div class="container">
      <ul class="main-nav__menu">
        {navLinks.map(link => (
          <NavLink title={link.title} url={link.url} />
        ))}
      </ul>
    </div>
  </nav>
