---
const {bannerFilms} = Astro.props;

const hasSubHeading = bannerFilms.length === 0 ? false : true;

let bannerTitle = bannerFilms.length === 0 ? 'Our current film season has concluded' : "Our next three films of the season"
bannerTitle = bannerFilms.length === 1 ? 'Our last film of the season' : bannerTitle;
bannerTitle = bannerFilms.length === 2 ? 'The last two films of the season' : bannerTitle;
---
    <div class="row">
        <section class="col-lg-12">
            <h2>{bannerTitle}</h2>
            <h3 class:list={[{ "d-none" : hasSubHeading }]}>Our new season starts in September</h3>
            <div class="row">
                {
                    bannerFilms.map((film) => (
                        <div class="col-lg-4">
                            <div class="poster-box">
                                <div class="row poster-box-date">
                                    <div class="col-lg-12 text-center">
                                        Showing: {film.dateShowing}
                                    </div>
                                </div>
                                <img
                                    src={film.posterImage}
                                    alt={film.title + " film poster"}
                                    class="img-responsive"
                                />
                                <div class="row poster-box-link">
                                    <div class="col-lg-12 text-center">
                                        <a href={"#" + film.taglink}>
                                            More Info...
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </section>
        <!-- end of banner section -->
    </div>