---
const {films} = Astro.props;

// sort the films by viewing date
const sortedFilms = films.sort((a, b) => {
    const aDate = new Date(a.frontmatter.viewingDate).getTime();
    const bDate = new Date(b.frontmatter.viewingDate).getTime();
    return aDate - bDate;
});

// filter the films that are equal to or newer than today's date
const today = Date.now();
const filteredFilms = sortedFilms.filter((film) => {
    const viewingDate = new Date(film.frontmatter.viewingDate).getTime();
    return viewingDate > today;
});

// set the variables for the heading and sub-heading
let hasSubHeading = true;
let bannerTitle = "The next three films in our season";

if (filteredFilms.length === films.length) {
 bannerTitle = "The first three films in our season";
}

// get the next three films in the season
const bannerFilms = filteredFilms.slice(0,3);

if (bannerFilms.length == 2) {
    bannerTitle = "The last two films in our season";
}

if (bannerFilms.length == 1) {
    bannerTitle = "The last film of our season";
}

if (bannerFilms.length == 0) {
    bannerTitle = "Our current film season has concluded";
    hasSubHeading = false;
}
---
    <div class="row">
        <section class="col-lg-12">
            <h2>{bannerTitle}</h2>
            <h3 class:list={[{ "d-none" : hasSubHeading }]}>Our new season starts in September</h3>
            <h4>Note: More films to be added soon, this list is for 2025 films only.</h4>
            <hr>
            <div class="row">
                {
                    bannerFilms.map((film) => (
                        <div class="col-lg-4">
                            <a href={"#" + film.frontmatter.taglink} class="poster-box-link">
                            <div class="poster-box">
                                <p>
                                    Showing: {new Date(film.frontmatter.viewingDate).toDateString()}
                                </p>
                                <img
                                    src={film.frontmatter.posterImage}
                                    alt={film.frontmatter.title + " film poster"}
                                    class="img-responsive poster-box__image"
                                    width="206"
                                    height="305"
                                />
                                <p class="poster-box__more-info"> More Info...  </p>
                                </div>
                            </a>
                        </div>
                    ))
                }
            </div>
        </section>
        <!-- end of banner section -->
    </div>