---
import menuData from '../data/sideNav.json';
---
    <h3 class="sidenav-title">About Us Menu</h3>
    <nav aria-label="sidebar secondary navigation menu">
        <ul class="sidenav-menu">
        {
            menuData.map((item) => (
                <li class="sidenav-menu__item">
                    <a href={item.url} class="sidenav-menu__link">{item.title}</a>
                </li>
            ))
        }
        </ul>
    </nav>
