    <h3>About Us Menu</h3>
    <nav aria-label="sidebar secondary navigation menu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-awards/">
                    Awards
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-organisation/">
                    Organisation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-constitution/">
                    Constitution
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-data-protection-procedure/">
                    Data Protection Procedure
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-data-protection-policy/">
                    Data Protection Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-origins/">
                    Film Society Origins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-films/">
                    Film Programme History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/community-cinema/">
                    Community Cinema
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-sfs/sfs-links/">Useful Links</a>
            </li>
        </ul>
    </nav>
