---
import menuData from '../data/sideNav.json';
---
    <h3>About Us Menu</h3>
    <nav aria-label="sidebar secondary navigation menu">
        <ul class="nav flex-column">
            {
                menuData.map((item) => (
                    <li class="nav-item">
                        <a class="nav-link" href={item.url}>{item.title}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
