
            <h3>About Us Menu</h3>
            <nav class="navbar navbar-default aboutus-sidemenu">
                <div>
                    <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/about-sfs/sfs-awards/">Awards</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-organisation/">Organisation</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-constitution/">Constitution</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-data-protection-procedure/">Data Protection Procedure</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-data-protection-policy/">Data Protection Policy</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-origins/">Film Society Origins</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-films/">Film Programme History</a>
                    </li>
                    <li>
                        <a href="/about-sfs/community-cinema/">Community Cinema</a>
                    </li>
                    <li>
                        <a href="/about-sfs/sfs-links/">Useful Links</a>
                    </li>
                    </ul>
                </div>
            </nav>