---
const { Synopsis } = Astro.props;

function hasForeignTitle(title) {
    let filmTitle = '';
    if (title) {
        filmTitle = '<strong>(' + title + ')</strong><br />';
    }
    return filmTitle;
}
---

<main class="row">
    <div class="col-md-9">
        <section>
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <h2>{ Synopsis.title.toUpperCase() }</h2>
                </div>
                <div class="col-xs-12 col-md-2 text-center">
                    <a href={'/documents/films/' + Synopsis.synopsisPDFLink} target="_blank">
                        <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i><br />
                        <span class="text-center"> Download PDF</span>
                    </a>
                </div>
            </div>
            <p>
                <Fragment set:html={hasForeignTitle(Synopsis.filmOriginalTitle)} />
                <strong>{ Synopsis.country } ({ Synopsis.releaseDate })</strong> { Synopsis.duration }.<br />
                <strong>Genre: </strong>{ Synopsis.genreName }<br />
                <strong>Directors/writers:</strong>
                <strong>Cast:</strong> { Synopsis.cast }
            </p>
        </section>
        <section>
            <div class="text-center">
                <h4>Screening { Synopsis.dateShowing } { Synopsis.yearShowing } at { Synopsis.locationShowing }</h4>
            </div>
            <h3 class="synopsis-headings">Synopsis</h3>
            <p>
                { Synopsis.filmSynopsis }
            </p>
        </section>
        <section>
            <h3 class="synopsis-headings">Reviews</h3>
        </section>
        <section class="row">
            <div class="col-xs-12 col-md-5">
                <img src={ Synopsis.filmImageLink } class="Synopsis-image-full-page" title={ Synopsis.title } alt={
                    Synopsis.title + ' film screenshot' } width="340" />
                {Synopsis.review1Paragraphs.map((para) => (
                <p>{para}</p>
                ))}
                <p>
                    <i class="pull-right">{ Synopsis.review1Author }</i>
                </p>
            </div>
            <div class="col-xs-12 col-md-7">
                {Synopsis.review2Paragraphs.map((para) => (
                <p>{para}</p>
                ))}
                <p>
                    <i class="pull-right">{ Synopsis.review2Author }</i>
                </p>
                <br />
                <h4 class="synopsis-review-heading">Film Facts</h4>
                <ul>
                    {Synopsis.filmFactsParagraphs.map((fact) => (
                    <li>{fact}</li>
                    ))}
                </ul>
                <p class="pull-right"><strong>swindonfilm.org.uk</strong></p>
            </div>
        </section>
    </div>
</main>