---
import BaseLayout from './Base.astro';
import Sidenav from '../components/Sidebar.astro';
const { content } = Astro.props;

---

<BaseLayout title={content.title}>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <slot />
      </div>
      <div class="col-sm-3">
        <Sidenav></Sidenav>
      </div>
    </div>
  </div>
</BaseLayout>