---
import BaseLayout from "./Base.astro";
import Sidebar from "../components/Sidebar.astro";
const { content } = Astro.props;
---

<BaseLayout title={content.title}>
  <div class="sidenav-grid">
    <div>
      <slot />
    </div>
    <div>
      <Sidebar />
    </div>
  </div>
</BaseLayout>
