---
import BaseLayout from './Base.astro';
const { content } = Astro.props;
---

<BaseLayout title={content.title}>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <slot />
            </div>
        </div>
    </div>
</BaseLayout>